@functions
{
    static string GetExcerpt(IMetadata post)
    {
        var excerpt = post.GetString(Statiq.Html.HtmlKeys.Excerpt);

        if (!string.IsNullOrWhiteSpace(excerpt))
        {
            excerpt = excerpt.RemoveEnd("</p>"); //remove final '</p>'
            var words = excerpt.Split().Take(15); //only interested in first 50 words, so add them to array
            excerpt = string.Join(" ", words); //rejoin the words as single string
            excerpt += $" ...</p>"; //add it back with some more goodies
        }

        return excerpt;
    }
}

@{
    var posts = Document.GetChildren();

    var older = Document.GetDocument(Keys.Next);
    var newer = Document.GetDocument(Keys.Previous);

    var firstPost = posts.FirstOrDefault();
    var leadImage = firstPost.GetLeadImage();
    var hasLeadImage = !string.IsNullOrWhiteSpace(leadImage);
    var list = !hasLeadImage ? posts.ToArray() : posts.Skip(1).ToArray();

    if (firstPost != null && hasLeadImage)
    {
        var excerpt = GetExcerpt(firstPost);
        <!--Lead Card-->
        <div class="lg:flex md:flex-1 h-full bg-white rounded shadow-lg">
            @if (!string.IsNullOrWhiteSpace(leadImage))
            {
                <div class="md:w-full lg:w-2/3 rounded-t">
                    <img src="@leadImage" class="h-full w-full shadow"/>
                </div>
            }

            <div class="md:w-full lg:w-1/3 lg:flex flex-col flex-grow flex-shrink">
                <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg px-6 py-4">
                    <div class="font-bold text-xl text-gray-700 truncate">
                        <a title="@firstPost.GetString("Title")" class="hover:text-gray-900 no-underline hover:underline" itemprop="url" href="@Context.GetLink(firstPost)">@firstPost.GetString("Title")</a>
                    </div>
                    <p class="w-full text-gray-400 text-xs md:text-sm mb-2">Published on @firstPost.GetDateTime("Published").ToString("yyyy-MM-dd")</p>
                    <div class="text-gray-700 text-base">
                        @Html.Raw(excerpt)
                    </div>
                </div>
            </div>
        </div>
        <!--/Lead Card-->
    }
}

<!--Posts Container-->
<div class="md:flex flex-wrap justify-start lg:-mx-6 md:-mx-2 overflow-hidden">
    @foreach(var post in list)
    {
        var excerpt = GetExcerpt(post);
        var postImage = post.GetLeadImage();
        var hasImage = !string.IsNullOrWhiteSpace(postImage);
        var bgClass = hasImage ? "bg-cover" : "bg-gradient-to-b from-blue-50 to-blue-200";
        var bgStyle = hasImage ? $"background-image: url({postImage})" : "";
    
        <div class="w-full md:w-1/2 lg:w-1/3 lg:p-6 md:p-3 flex flex-col py-4">
            <div class="flex-1 bg-white rounded overflow-hidden shadow-lg">
                <div class="md:w-full lg:w-full rounded-t h-64 @bgClass" style="@bgStyle">
                </div>
                <div class="md:w-full lg:w-full lg:flex flex-col flex-grow flex-shrink px-6 py-4">
                    <div class="w-full font-bold text-xl text-gray-700 truncate">
                        <a itemprop="url" title="@post.GetString("Title")" class="hover:text-gray-900 no-underline hover:underline" href="@Context.GetLink(post).Substring(1)">@post.GetString("Title")</a>
                    </div>
                    <p class="w-full text-gray-400 text-xs md:text-sm">Published on @post.GetDateTime("Published").ToString("yyyy-MM-dd")</p>
                
                    <div class="text-gray-700 text-base">
                        @Html.Raw(excerpt)
                    </div>
                </div>
            </div>
            <meta itemprop="dateModified" content="@post.GetString("Published")">
        </div>
    }
</div>
@if (older != null || newer != null)
{
    <div class="w-full flex mb-2 text-blue-500">
        <div class="w-1/2">
            @if (newer != null)
            {
                <a href="@Context.GetLink(newer)" class="text-left p-4 float-left hover:text-blue-600">
                    <p class="text-lg flex items-center"><svg class="inline-block w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                                                         </svg> Newer</p>
                </a>
            }
        </div>
        <div class="w-1/2">
            @if (older != null)
            {
                <a href="@Context.GetLink(older)" class="text-right p-4 float-right hover:text-blue-600">
                    <p class="text-lg flex items-center justify-end">Older <svg class="inline-block w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                                                           </svg></p>
                </a>
            }
        </div>
    </div>
}