@{
    Layout = @"/_Layout.cshtml";

    void RenderCopyrights(IMetadata metadata)
    {
        var imageAuthor = metadata.GetString("ImageAuthor");
        var imageLink = metadata.GetString("ImageLink");

        if (string.IsNullOrWhiteSpace(imageAuthor) || string.IsNullOrWhiteSpace(imageLink))
        {
            return;
        }
        
        <div class="text-base md:text-sm text-gray-500 px-4 py-6">
            Photo by <a href="@imageLink" class="text-base md:text-sm text-teal-500 no-underline hover:underline">@imageAuthor</a>
        </div>
    }
}

<!--Title-->
<div class="container max-w-4xl mx-auto text-center break-normal mb-5">
	<p class="text-sm md:text-base text-teal-500 font-bold">- <time datetime="@Model.GetString(" Published")" itemprop="datePublished">@Model.GetDateTime("Published").ToString("dd MMMM yyyy")</time> -</p>
	<h1 class="font-bold break-normal text-3xl md:text-5xl">@Model.GetString(Keys.Title)</h1>
</div>

@if (Model.GetString("Image") != null)
{
    <!--image-->
    <div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded" style="background-image:url('@Model.GetString("Image")'); height: 75vh;"></div>
}

<!--Container-->    
<div class="bg-white container max-w-5xl mx-auto -mt-32 mb-10 rounded shadow-md">
    <div class="mx-0 sm:mx-6">
        <div class="bg-white w-full p-8 text-xl md:text-2xl text-gray-800 leading-normal">
            <!--Post Content-->
            @RenderBody()
        </div>
        @{
            RenderCopyrights(Model);
        }
    </div>
</div>

<script>
	/* Progress bar */
	//Source: https://alligator.io/js/progress-bar-javascript-css-variables/
	var h = document.documentElement,
		  b = document.body,
		  st = 'scrollTop',
		  sh = 'scrollHeight',
		  progress = document.querySelector('#progress'),
		  scroll;
	var scrollpos = window.scrollY;
	var header = document.getElementById("header");
	var navcontent = document.getElementById("nav-content");

	document.addEventListener('scroll', function() {
        /*Refresh scroll % width*/
        scroll = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
        progress.style.setProperty('--scroll', scroll + '%');
    
        /*Apply classes for slide in bar*/
        scrollpos = window.scrollY;
    
        if(scrollpos > 10){
          header.classList.add("bg-white");
          header.classList.add("shadow");
          navcontent.classList.remove("bg-gray-100");
          navcontent.classList.add("bg-white");
        }
        else {
          header.classList.remove("bg-white");
          header.classList.remove("shadow");
          navcontent.classList.remove("bg-white");
          navcontent.classList.add("bg-gray-100");
        }
	});
</script>